@import "../../responsive.scss";
.chat {
  height: 100%;
  display: flex;
  flex-direction: column;

  .messagesContainer {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    h1 {
      font-weight: 300;
      margin-bottom: 2px;
    }
    .messages {
      display: flex;
      flex-direction: column;
      gap: 20px;
      overflow: hidden;
      &:hover {
        overflow-y: scroll;
      }
    }

    .message {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      gap: 20px;
      background-color: #fff;
      border-radius: 4px;
      cursor: pointer;
      span {
        font-weight: bold;
      }
    }
  }

  .chatMessages {
    flex: 1;
    background-color: antiquewhite;
    justify-content: space-between;

    .top {
      display: flex;
      padding: 12px 24px;
      justify-content: space-between;
      align-items: center;
      background-color: #fece51;

      .user {
        display: flex;
        gap: 20px;
        align-items: center;
      }
      button {
        font-weight: bold;
        cursor: pointer;
        border: none;
        background-color: transparent;
      }
    }

    .center {
      display: flex;
      height: 250px;
      flex-direction: column;
      padding: 10px 20px;
      background-color: #fff;
      overflow-y: scroll;

      .chatMessage {
        display: flex;
        flex-direction: column;
        P {
          font-weight: 100;
        }
        span {
          font-size: 12px;
          background-color: #fece51;
          width: max-content;
        }

        &.own {
          display: flex;
          align-items: flex-end;
        }
      }
    }
    .bottom {
      display: flex;
      height: 50px;
      align-items: center;
      background-color: #fece51;

      textarea {
        flex: 3;
        padding: 6px;
      }
      button {
        flex: 1;
        border: none;
        background-color: #fece51;
        cursor: pointer;
      }
    }
  }
}
