.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;

  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title {
      font-size: 20px;
      font-weight: 600;
    }

    .address {
      color: #d3d3d3;
      display: flex;
      gap: 5px;
      align-items: center;
      img {
        width: 12px;
        height: 12px;
      }
      span {
        font-size: 12px;
      }
    }

    .price {
      font-size: 16px;
      font-weight: 100;
      background-color: papayawhip;
      width: max-content;
      padding: 4px;
    }
  }

  .imgContainer {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 100px;
    background-color: papayawhip;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    span {
      font-size: 15px;
      font-weight: 300;
    }
  }
}
