@import "../../responsive.scss";
nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    transition: all 0.4s ease;

    @include sm {
      display: initial;
    }
    &:hover {
      scale: 1.05;
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;
    a {
      @include sm {
        display: none;
      }
    }
    .logo {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 20px;
      gap: 10px;
      img {
        width: 28px;
      }
      span {
        @include md {
          display: none;
        }
        @include sm {
          display: initial;
        }
      }
    }
  }

  .right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fcf5f3;
    height: 100%;

    @include md {
      background-color: transparent;
    }

    a {
      padding: 12px 24px;
      margin: 20px;

      @include sm {
        display: none;
      }
    }

    .user {
      display: flex;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
      }
      span {
        @include sm {
          display: none;
        }
      }

      .profile {
        padding: 12px 24px;
        background-color: #fece51;
        cursor: pointer;
        position: relative;
        overflow: visible;

        @include md {
          padding: 5px 10px;
        }
        .notification {
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: red;
          padding: 5px 5px;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          @include md {
            width: 18px;
            height: 18px;
          }
        }
      }
    }

    .register {
      background-color: #fece51;
    }

    .menuIcon {
      display: none;
      z-index: 10;
      img {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
      @include sm {
        display: inline;
      }
    }
    .menu {
      height: 100vh;
      width: 50%;
      position: absolute;
      top: 0;
      right: -300px;
      background-color: black;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.active {
        right: 0;
        display: flex;
      }

      @include sm {
        a {
          display: inline;
          color: white;
        }
      }
    }
  }
}
